.button-game {
  @media screen and (max-width: 400px) {
    margin-right: 5px;
  }
  margin-right: 100px;
}
.button-start {
  @media screen and (max-width: 400px) {
    margin-right: 5px;
  }
}

p {
  margin: 0;
}

.block-points {
  @media screen and (max-width: 400px) {
    margin-right: 5px;
  }
  margin-right: 150px;
}
.border-dar {
  text-align: center;
}
.container {
  margin-bottom: 20px;
}

.window-game {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.bg-secondary {
  padding: 15px;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.lightbox__content {
  width: 400px;
  height: 400px;
  padding: 15px;
  background-color: grey;
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}
.modal-button {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.modal-titel {
  margin-top: 50px;
  margin-bottom: 20px;
}
.list {
  list-style: none;
}
.list-item {
  font-size: 20px;
  color: rgb(239, 243, 239);
}
